body {
	background: linear-gradient(to right, rgba(200,0,0,0.2), rgba(0,20,0,0.7));
	font-family: 'Source Code Pro', monospace;
	font-size: 1.7em;
	font-weight: 500;
	margin: 20px auto;
}

.my-container{
	background-color: #DCDCDC;
}

#my-heading{
	text-align: center;
}
